<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>

        <div id="root">
            <h1 v-if="awesome">Vue is awesome</h1>
            <h1 v-else>Oh no!😞</h1>
            <!-- <h1 v-else="awesome">Oh no</h1> Possiamo scriverlo anche così -->

            <!-- Sul template non si possono applicare proprietà css -->
            <template v-if="ok">
                <h1>Titolo</h1>
                <p>Paragrafo 1</p>
                <p>Paragrafo 2</p>
            </template>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <script src="./main.js"></script>
    </body>

</html>